.inline {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  /* Trick to prevent the inline elements from breaking onto a new line independently */
  white-space: nowrap;
}

.inline > * {
  /* Restore normal wrapping for child elements that might contain long text */
  white-space: normal;
}
