.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.breadcrumbs__separator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text--muted);
  user-select: none;
}

.breadcrumbs__separator svg {
  width: inherit;
  height: inherit;
}
