.stat {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  
  /* gap: calc(var(--data--size) * 1.25); */
  /* padding: auto var(--space-in--md); */
}

.stat__value {
  font-size: calc(var(--data--size) * 7.5);
  line-height: 1;
  font-weight: var(--weight--black);
  color: var(--data--color--text);
  font-family: var(--family--sans);
  letter-spacing: calc(var(--tracking--loose) * 2);
  line-height: var(--leading--none);
  margin-left: 0.25em;
  
}

.stat__label {
  font-size: var(--fs--xs);
  color: var(--text--muted);
  margin-left: var(--space-in--md);
}

.stat[data-loading] .stat__value,
.stat[data-loading] .stat__label {
  opacity: 0.7; /* skeleton handles the visual */
}
