.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack--gap);
}

.stack--align-start   { align-items: flex-start; }
.stack--align-center  { align-items: center; }
.stack--align-end     { align-items: flex-end; }
.stack--align-stretch { align-items: stretch; }

.stack--justify-start   { justify-content: flex-start; }
.stack--justify-center  { justify-content: center; }
.stack--justify-end     { justify-content: flex-end; }
.stack--justify-between { justify-content: space-between; }

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: var(--stack--gap);
  margin-block: calc(var(--stack--gap) * -1);
  margin-inline: auto;
}